########################
# Fonts
########################
GOOGLE_FONTS_HREF="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Questrial&family=Zilla+Slab+Highlight:wght@400;700&display=swap"
HEADING_FONT="Questrial"
BODY_FONT="Lato"
TITLE_FONT="Zilla Slab Highlight"

########################
# Default admin login
########################
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin"

########################
# SQLite path
########################
DATABASE_URL="trellis.db"
